<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>@(!String.IsNullOrEmpty(ViewBag.StatusCode) ? ViewBag.StatusCode : "Error 500")</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
    @model System.Web.Mvc.HandleErrorInfo
    @{
        ViewBag.Title = (!String.IsNullOrEmpty(ViewBag.StatusCode)) ? ViewBag.StatusCode : "Error 500";
    }
</body>
</html>