<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @foreach (string name in ViewBag.Names)
    {
        <span>@name </span>
    }
    @*name1 name2 name3*@
    <br />

</body>
</html>