@model clu.aspnet.webapplication.mvc.core.Models.RegisterViewModel
<div>
    <form method="post" asp-action="Register">
        <div>
            <label asp-for="Username">Username</label>
            <input asp-for="Username" />
        </div>
        <div>
            <label asp-for="Password">Password</label>
            <input asp-for="Password" />
        </div>
        <div>
            <label asp-for="UserHandle">Display Name</label>
            <input asp-for="UserHandle" />
        </div>
        <input type="submit" value="Register" />
    </form>
</div>