<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @model clu.aspnet.webapplication.mvc.core.Models.SimpleModel
    <p>Value received in partial view from model is @Model.Value</p>

</body>
</html>