@model IEnumerable<clu.aspnet.webapplication.mvc.core.Models.ChatUser>

<h3>Users</h3>

<div>
    Username: <input type="text" class="username" />
    Message: <input type="text" class="message" />
</div>
<div>
    <input type="button" class="all" value="Send To All" />
</div>
<div class="chatLog">

</div>

<script src="~/node_modules/jquery/dist/jquery.min.js"></script>
<script src="~/node_modules/@@aspnet/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/chat-events.js"></script>