@{
    ViewBag.Title = "Bootstrap Alerts Example";
}
<h2>@ViewBag.Title</h2>
<h3>This page shows designed alert messages</h3>

<div class="alert alert-danger" role="alert">
    This is a designed alert message
</div>
<div class="alert alert-success" role="alert">
    This is an alert with <a href="#" class="alert-link">link inside</a>
</div>