@{
    ViewBag.Title = "Bootstrap Buttons Example";
}
<h2>@ViewBag.Title</h2>
<h3>This page shows Bootstrap designed buttons</h3>

<button type="button" class="btn btn-outline-primary">Primary Style</button>
<button type="button" class="btn btn-outline-secondary">Secondary Style</button>
<button type="button" class="btn btn-success btn-lg">Large Success button</button>
<button type="button" class="btn btn-danger btn-sm">Small Danger button</button>
<button type="button" class="btn btn-outline-info">Info button</button>
<button type="button" class="btn btn-outline-light">Light button</button>