@{
    ViewBag.Title = "Bootstrap Grid System Example";
}
<h2>@ViewBag.Title</h2>
<h3>This page shows a Bootstrap grid system</h3>

<div class="container">
    <div class="row">
        <div class="col">
            <h3>First Column</h3>
        </div>
        <div class="col">
            <h3>Second Column</h3>
        </div>
        <div class="col">
            <h3>Third Column</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Second Row - First column content.
        </div>
        <div class="col">
            Second Row - Second column content.
        </div>
        <div class="col">
            Second Row - Third column content.
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <h3>4 Columns width</h3>
        </div>
        <div class="col-6">
            <h3>6 Columns width</h3>
        </div>
        <div class="col-2">
            <h3>2 Columns width</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <h3>3 Columns width</h3>
        </div>
        <div class="col-6">
            <h3>6 Columns width</h3>
        </div>
        <div class="col-3">
            <h3>3 Columns width</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <h3>first row, first column</h3>
        </div>
        <div class="col-6 col-md-8">
            <h3>first row, second column</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-sm-4">
            <h3>second row, first column</h3>
        </div>
        <div class="col-6 col-sm-4">
            <h3>second row, second column</h3>
        </div>
        <div class="col-6 col-sm-4">
            <h3>second row, third column</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col">
            Column aligned to center
        </div>
        <div class="col">
            Column aligned to center
        </div>
        <div class="col">
            Column aligned to center
        </div>
    </div>
</div>