@{
    ViewBag.Title = "Bootstrap Nav Example";
}
<h2>@ViewBag.Title</h2>
<h3>This page shows a Bootstrap designed nav</h3>

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home Page</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/about">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home/contact">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled Link</a>
    </li>
</ul>