<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <p>
        Message is: @ViewData["Message"]
    </p>
    <p>
        Server time is: @((DateTime)ViewData["ServerTime"])
    </p>
</body>
</html>