<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @addTagHelper *, clu.aspnet.webapplication.mvc.core
    <vc:My param="6"></vc:My>
    @*Id: 5*@

</body>
</html>