<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @await Html.PartialAsync("_MyPartialView")
    <p>Now in main view</p>
    @await Html.PartialAsync("_MyPartialView")
    @*In partial view

        Now in main view

        In partial view*@

</body>
</html>