<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <p>
        Message is: @ViewBag.Message
    </p>
    <p>
        Server time is: @ViewBag.ServerTime.ToString()
    </p>
</body>
</html>