<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @await Component.InvokeAsync("My", 5)
    @*Id: 5*@

</body>
</html>