<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @addTagHelper *, clu.aspnet.webapplication.mvc.core
    <vc:My></vc:My>
    @*some text*@

</body>
</html>