@{
    Layout = "_Layout";
}

@section section1
{
    <div>This is section1 content (throws an exception when it is missing)</div>
}

<div>This is the body</div>

@section section2
{
    <div>This is section2 content (does not throw an exception since it is optional)</div>
}